.contenedor {
	width: 100%;
}

.columna_izq {
	/*height: 200px;*/
	background: #ECFAEE;
	float: left;
	width: 50%;
	text-align: right;
	border: none;
}
.columna_der{
	/*height: 200px;
	background: green;*/
	float: right;
	width: 50%;
	text-align: right;
}

.contain_label {
	margin: .6em 0;
	border-radius: 
}

.contain_label label {
	float: left;
	width: 25%;
}
.campo_form1 {
	width: 65%;
	border-radius: 7px;
}
.boton {
	width: 20%;
	/*background: orange;
	padding: 10px;*/
	
}
